<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem.nails - портфолио</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="wrap">
    <div th:replace="~{fragments/header :: (${authUser} ? '#header_client' : '#header_guest')}"></div>
    <nav>
        <a th:href="@{/}"><- Назад</a>
    </nav>
    <main class="main container-xxl mx-auto pb-lg-5 pb-4">
        <h1>Портфолио</h1>
        <div>
            <img width="200px" th:src="@{/img/__${post.getImage().getPath()}__}" th:alt="${post.getContent()}">
            <p th:text="${post.getContent()}"></p>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_user}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>