<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - портфолио</title>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/dashboard}"><- Назад</a>
    </nav>
    <main>
        <h1>Портфолио</h1>
        <h2 th:text="${message}"></h2>
        <div>
            <form method="post" th:action="@{/admin/portfolio/create}" enctype="multipart/form-data">
                <label>
                    <textarea name="content" th:text="${enteredData?.content}"></textarea>
                    <span th:if="${errors?.containsKey('content')}" th:text="${errors.get('content')}"></span>
                </label>
                <label>
                    <input type="file" accept="image/*" name="image">
                    <span th:if="${errors?.containsKey('image')}" th:text="${errors.get('image')}"></span>
                </label>
                <input type="submit" value="Добавить">
            </form>
        </div>
        <div th:each="post : ${posts.content}">
            <a th:href="@{/admin/portfolio/__${post.getId()}__}">
                <p th:text="${post.getContent()}"></p>
                <img width="200px" th:src="@{/img/__${post.getImage().getPath()}__}" th:alt="${post.getContent()}">
            </a>
            <form method="post" th:action="@{/admin/portfolio/delete}">
                <input type="hidden" name="postId" th:value="${post.getId()}">
                <input type="submit" value="Удалить">
            </form>
        </div>
        <div class="pagination">
            <ul>
                <li th:if="${posts.hasPrevious()}">
                    <a th:href="@{'/admin/portfolio?page=' + ${posts.number - 1}}">Previous</a>
                </li>
                <li th:each="page : ${#numbers.sequence(0, posts.totalPages - 1)}">
                    <a th:href="@{'/admin/portfolio?page=' + ${page}}" th:text="${page + 1}"></a>
                </li>
                <li th:if="${posts.hasNext()}">
                    <a th:href="@{'/admin/portfolio?page=' + ${posts.number + 1}}">Next</a>
                </li>
            </ul>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_user}"></div>
</body>
</html>