html,
body {
    height: 100%;
}

#wrap {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .footer__list {
        list-style-type: none;
    }
}

.cards {
    .card {
        position: relative;
        height: 100%;
        padding-bottom: 35px;
        .btn {
            position: absolute;
            left: var(--bs-card-spacer-x);
            bottom: var(--bs-card-spacer-y);
        }
    }
}
