:root {
    --main-color: #f7f7f7;
    --second-color: #212529;
    --third-color: #fff;
}

.bg-white {
    background: var(--third-color);
}

html,
body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    color: var(--second-color);
    background: var(--main-color);
}

h1,
h2,
h3,
b {
    font-family: "Ubuntu", sans-serif;
}

#wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}

.header,
.footer {
    color: var(--main-color);
    background: var(--second-color);
    .nav-link,
    .navbar-brand > a {
        color: var(--main-color);
        text-decoration: none;
    }
}

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    .dropdown-menu-dark {
        background: var(--second-color);
        .dropdown-item {
            color: var(--main-color);
        }
        .dropdown-item:active {
            background: rgba(255, 255, 255, 0.15);
        }
    }
}

.footer {
    flex: 0 0 auto;
    .footer__list {
        list-style-type: none;
    }
    a {
        color: var(--main-color);
        text-decoration: none;
    }
}

.main {
    padding-top: 100px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.breadcrumbs {
    --bs-breadcrumb-divider: url(/images/breadcrumb.svg);
}

.btn {
    border-radius: 0;
}

.alert {
    border-radius: 0;
}

.btn:active {
    border-color: var(--bs-border-color) !important;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--second-color);
    --bs-tooltip-color: var(--main-color);
}

.invalid-feedback {
    display: inline;
}

textarea {
    resize: none;
}

.pagination {
    --bs-pagination-disabled-color: var(--main-color);
    --bs-pagination-disabled-bg: var(--second-color);
}

a,
.page-link {
    color: var(--second-color);
}

.modal.modal-zoom.fade:not(.show) .modal-dialog {
    transform: scale(0.97);
}

.glightbox-clean .gslide-description {
    background: var(--second-color);
    color: var(--main-color);
    p {
        font-family: "Ubuntu", sans-serif;
    }
}





#modal-confirm {
    .btn {
        padding-block: 12px !important;
    }
}

#error {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#dashboard {
    .cards {
        .card {
            position: relative;
            height: 100%;
            padding-bottom: 35px;
            border-radius: 0;

            .btn {
                position: absolute;
                left: var(--bs-card-spacer-x);
                bottom: var(--bs-card-spacer-y);
            }
        }
    }
}

#index {
    header {
        margin-bottom: 0 !important;
    }

    .skew-cc{
        width:100%;
        height:50px;
        position:absolute;
        left:0;
        background: linear-gradient(to right bottom, var(--third-color) 49%, var(--main-color) 50%),    linear-gradient(-50deg, var(--main-color) 16px, transparent 0);
    }

    .skew-c{
        width:100%;
        height:50px;
        position:absolute;
        left:0;
        background: linear-gradient(to left bottom, var(--main-color) 49%, var(--third-color) 50%);
    }

    #main-carousel {
        padding-top: 73px;

        img {
            filter: brightness(70%);
            height: 600px;
            object-fit: cover;
        }

        .carousel-title {
            font-size: 58px;
        }

        .btn {
            padding-inline: 50px;
        }

        .btn:hover {
            background: var(--main-color);
        }

        .carousel-caption {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--main-color);
        }
    }

    #hello {
        padding-top: 50px;
        padding-bottom: 125px;
    }

    #advantages {
        padding-top: 100px;
        padding-bottom: 50px;
        img {
            transform: scale(.8);
        }
    }

    #index-services {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    #portfolio {
        padding-top: 150px;
        padding-bottom: 100px;
        .post {
            text-align: center;
            margin-bottom: 20px;
        }
        .btn {
            margin-top: 10px;
            padding-inline: 50px;
        }
    }

    #quote {
        padding-top: 150px;
        padding-bottom: 40px;
    }
}

#portfolio {
    .posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .post {
            overflow: hidden;

            img {
                width: 315px;
                height: 420px;
                transition: transform 0.5s ease;
                object-fit: cover;
            }

            img:hover {
                transform: scale(1.15);
            }
        }
    }
}

#common-intervals,
#admin-appointments,
#admin-intervals,
#update-appointment-2 {
    .daysOfWeek {
        ul {
            gap: 8px;
        }

        li {
            text-align: center;
            flex-basis: calc(100% / 7.35);
            max-width: calc(100% / 7.35);
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            flex-basis: calc(100% / 7.35);
            max-width: calc(100% / 7.35);
            flex-direction: column;
            overflow-y: auto;
            margin-bottom: 10px;
            border-radius: 0;
            box-shadow: none !important;

            .card-header {
                border-bottom: 1px solid var(--bs-border-color);
                border-radius: 0;
                background: var(--main-color);
            }

            .btn {
                padding-block: 8px;
            }

            .interval {
                border-bottom: 1px solid var(--bs-border-color);
            }
        }
    }
}

#create-appointment {
    .form {
        #details {
            height: 100px;
        }
    }
}

#user-appointments {
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;

        .card {
            width: calc(50% - 20px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 10px;
            border-radius: 0;
        }
    }
}

#admin-portfolio {
    .form {
        textarea {
            height: 100px;
        }
    }

    .posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .post {
            .content {
                overflow: hidden;

                img {
                    width: 315px;
                    height: 420px;
                    transition: transform 0.5s ease;
                    object-fit: cover;
                }

                img:hover {
                    transform: scale(1.15);
                }
            }

            .form {
                .btn {
                    border-radius: 0;
                    border: none;
                }
            }
        }
    }
}

#admin-appointments {
    .accordion {
        .accordion-body {
            .details {
                p {
                    max-height: 20px;
                }
            }
        }
    }
}

#admin-intervals {
    .cards {
        .card {
            .current-time {
                min-height: 58px;
            }
        }
    }
}

#create-appointment-1,
#update-appointment-1 {
    .search {
        display: flex;
        flex-wrap: wrap;

        input {
            width: 25%
        }
    }

    .form-container {
        height: 250px;

        .users {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-height: 250px;
            overflow-y: auto;

            .user {
                label {
                    padding-block: 10px;
                }
            }
        }
    }
}

#create-appointment-3,
#update-appointment-3 {
    .form {
        textarea {
            height: 100px;
        }
    }
}

#update-appointment-2 {
    .cards {
        .card {
            .radio-btn {
                border: none !important;
            }
        }
    }
}


@media (max-width: 991px) {
    .title {
        margin-bottom: 25px;
    }

    #index {
        #hello {
            padding-top: 0;
            padding-bottom: 50px;
        }

        #advantages {
            padding-top: 75px;
            padding-bottom: 50px;
            img {
                transform: scale(.6);
            }
        }

        #index-services {
            padding-top: 100px;
            padding-bottom: 50px;
        }

        #portfolio {
            padding-top: 100px;
            padding-bottom: 50px;
        }

        #quote {
            padding-top: 100px;
            padding-bottom: 20px;
        }
    }

    #common-intervals,
    #admin-appointments,
    #admin-intervals,
    #update-appointment-2 {
        .cards {
            .card {
                max-width: 300px;
                width: 100%;
                overflow-y: visible;
            }
        }
    }

    #user-appointments {
        .cards {
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 20px;

            .card {
                width: 100%;
            }
        }
    }

    #admin-intervals {
        .cards {
            .card {
                .btn {
                    padding-inline: 10px;
                }
            }
        }
    }

    #create-appointment-1,
    #update-appointment-1 {
        .search {
            input {
                width: 50%
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        padding-top: 76px;
    }

    #index {
        #main-carousel {
            padding-top: 56px;
        }
    }
}


@media (max-width: 451px) {
    #index {
        .main {
            padding-top: 50px;
        }

        .skew-cc,
        .skew-c {
            height:25px;
        }

        #main-carousel {
            padding-top: 55px;
        }

        #advantages {
            padding-top: 50px;
        }

        #index-services {
            padding-top: 75px;
        }

        #portfolio {
            padding-top: 75px;
            padding-bottom: 50px;
        }

        #quote {
            padding-top: 75px;
            padding-bottom: 20px;
        }
    }

    #portfolio,
    #admin-portfolio {
        .posts {
            .post {
                margin-bottom: 10px !important;

                .content {
                    img {
                        max-height: none;
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }

    #common-intervals,
    #admin-appointments,
    #admin-intervals,
    #update-appointment-2 {
        .cards {
            .card {
                max-width: none;
            }
        }
    }
}


@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}