<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem.nails</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/glightbox/3.2.0/dist/css/glightbox.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body id="index">
<div id="wrap">
    <div th:replace="~{fragments/header :: (${authUser} ? '#header_client' : '#header_guest')}"></div>
    <article>
        <div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/photo1.jpg" class="d-block w-100" alt="Маникюр">
                    <div class="carousel-caption d-flex flex-column align-items-center">
                        <h1 class="carousel-title">zhem.nails</h1>
                        <p>Откройте для себя безупречный уход за ногтями. Запишитесь прямо сейчас!</p>
                        <a class="btn btn-outline-light py-2 fs-5" th:href="@{/intervals}">Записаться</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/photo2.jpg" class="d-block w-100" alt="Маникюр">
                    <div class="carousel-caption d-flex flex-column align-items-center">
                        <h1 class="carousel-title">zhem.nails</h1>
                        <p>Откройте для себя безупречный уход за ногтями. Запишитесь прямо сейчас!</p>
                        <a class="btn btn-outline-light py-2 fs-5" th:href="@{/intervals}">Записаться</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </article>
    <main class="main pb-lg-5 pb-4">
        <section id="hello">
            <div class="container-xxl col-lg-7 mx-auto text-center">
                <h2 class="title">Добро пожаловать!</h2>
                <p>Приветствую вас на странице! Меня зовут
                    Анастасия, и я рада приветствовать вас на своей странице. Я предлагаю широкий спектр
                    профессиональных
                    услуг по маникюру и педикюру, чтобы помочь вам
                    выглядеть и чувствовать себя уверенно и прекрасно.</p>
                <p class="mb-md-3 mb-0">Мой подход заключается в том, что я работаю индивидуально с каждым клиентом, обеспечивая высокое качество услуг и внимательный уход.
                    Я уделяю особое внимание качеству и безопасности проводимых процедур.
                    В моей работе я использую только профессиональные инструменты и продукты, чтобы гарантировать
                    безупречный результат и удовлетворение каждого клиента.</p>
            </div>
        </section>
        <div class="skew-c"></div>
        <section class="bg-white" id="advantages">
            <div class="container-xxl">
                <div class="d-flex justify-content-md-between align-items-md-end flex-column flex-md-row justify-content-center text-center">
                    <div class="mb-3 mb-md-0">
                        <img class="mb-md-2" th:src="@{/images/nail-care.svg}" alt="nail-care">
                        <h3 class="mb-2 fs-5">Маникюр</h3>
                        <p>Маникюр для самых нежных ручек.</p>
                    </div>
                    <div class="mb-3 mb-md-0">
                        <img class="mb-md-2" th:src="@{/images/nail-art.svg}" alt="nail-art">
                        <h3 class="mb-2 fs-5">Дизайн</h3>
                        <p>Индивидуальный дизайн.</p>
                    </div>
                    <div class="mb-md-0">
                        <img class="mb-md-2" th:src="@{/images/tips-trends.svg}" alt="nail-care">
                        <h3 class="mb-2 fs-5">Тренды и Тенденции</h3>
                        <p class="mb-md-3 mb-0">Последние тренды в мире маникюра.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="skew-cc"></div>
        <section id="index-services">
            <div class="container-xxl col-lg-7 mx-auto text-center">
                <h2 class="title">Об услугах</h2>
                <h5>Маникюр:</h5>
                <ul class="list-unstyled">
                    <li>
                        Тщательная обработка ногтей, удаление кутикулы, формирование и полировка
                        ногтевой пластины.
                    </li>
                    <li>
                        Подбор цвета лака по вашему желанию и профессиональное нанесение.
                    </li>
                    <li>
                        Долговременное покрытие с высоким блеском, которое сохраняет
                        свойства в течение нескольких недель.
                    </li>
                    <li>
                        Индивидуальный подход к созданию уникальных дизайнов, от классического френча до
                        акцентуированных арт-решений.
                    </li>
                </ul>
                <h5>Педикюр:</h5>
                <ul class="mb-5 list-unstyled">
                    <li>
                        Очищение и обработка кожи стоп, удаление огрубевшей кожи и натоптышей,
                        обрезка
                        и формирование ногтей.
                    </li>
                    <li>
                        Нанесение лака высокого качества, придавая вашим ногтям элегантный
                        вид.
                    </li>
                    <li>
                        Долговременное покрытие, которое сохранит свой блеск и цвет на
                        протяжении длительного времени.
                    </li>
                    <li>
                        Расслабляющая процедура для увлажнения и смягчения кожи стоп.
                    </li>
                </ul>
                <div class="text-center">
                    <a class="btn btn-outline-dark fs-5 px-5 py-2" th:href="@{/intervals}">Записаться</a>
                </div>
            </div>
        </section>
        <div class="skew-c"></div>
        <section class="bg-white" id="portfolio">
            <div class="container-xxl">
                <h2 class="title">Портфолио</h2>
                <div class="posts d-flex flex-wrap justify-content-between flex-md-row flex-column align-content-center align-items-center ">
                    <div class="post" th:each="post : ${posts}">
                        <div class="content">
                            <div th:if="${post.getContent()} != null">
                                <a
                                        th:href="@{/img/__${post.getImage().getPath()}__}"
                                        class="glightbox"
                                        th:data-glightbox="'title: Фото работы; description: .description' + ${post.getId()} +'; descPosition: right;'"
                                >
                                    <img class="img-fluid" th:src="@{/img/__${post.getImage().getPath()}__}"
                                         th:alt="${post.getContent()}">
                                </a>
                                <div th:class="'glightbox-desc description' + ${post.getId()}">
                                    <p th:text="${post.getContent()}"></p>
                                </div>
                            </div>
                            <div th:if="${post.getContent()} == null">
                                <a th:href="@{/img/__${post.getImage().getPath()}__}" class="glightbox">
                                    <img class="img-fluid" th:src="@{/img/__${post.getImage().getPath()}__}"
                                         th:alt="${post.getContent()}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-dark fs-5 py-2" th:href="@{/portfolio}">Показать ещё</a>
                </div>
            </div>
        </section>
        <div class="skew-cc"></div>
        <section id="quote">
            <div class="container-xxl">
                <figure class="text-center mb-0">
                    <blockquote class="blockquote">
                        <p><em>Красота начинается с того момента, когда вы решаете быть себе верными.</em></p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0">
                        Мэрилин Монро
                    </figcaption>
                </figure>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/footer :: #footer_user}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/webjars/glightbox/3.2.0/dist/js/glightbox.min.js}"></script>
    <script>const lightbox = GLightbox({});</script>
</div>
</body>
</html>