<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - запись клиента</title>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/intervals}"><- Вернуться к рабочему календарю</a>
    </nav>
    <main>
        <h2>Запись клиента</h2>
        <h3 th:text="${interval.getDate()} + ' - ' + ${interval.getTime()}"></h3>
        <form method="post"
              th:action="@{/admin/appointments/create/step4}"
              th:object="${appointment}"
        >
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" th:field="*{userId}">
            <input type="hidden" th:field="*{intervalId}">
            <input type="hidden" th:field="*{services}">
            <h3>Напишите комментарий</h3>
            <label th:for="details">
                <textarea th:field="*{details}" id="details"></textarea>
            </label>
            <span th:text="${errors?.containsKey('details')} ? ${errors.get('details')}"></span>
            <input type="submit" value="Записать">
        </form>
    </main>
</body>
</html>