<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - запись клиента</title>
</head>
<body>
    <div th:replace="fragments/header :: #header_admin"></div>
    <nav>
        <a th:href="@{/admin/intervals}"><- Назад</a>
    </nav>
    <main>
        <h2>Запись клиента</h2>
        <h3 th:text="${interval.getDate()} + ' - ' + ${interval.getTime()}"></h3>
        <form method="get">
            <input type="hidden" name="intervalId" th:value="${interval.getId()}">
            <label>Имя
                <input type="text" name="firstName" placeholder="Иван"/>
            </label>
            <label>Фамилия
                <input type="text" name="lastName" placeholder="Иванов"/>
            </label>
            <label>Номер телефона
                <input type="text" name="phone" placeholder="+7 (999) 999-99-99"/>
            </label>
            <label>Электронная почта
                <input type="email" name="email" placeholder="ivanov@email.com"/>
            </label>
            <input type="submit" value="Поиск">
            <a th:href="@{/admin/appointments/create/step1?intervalId=__${interval.getId()}__}">Отмена</a>
        </form>
        <form method="post"
              th:action="@{/admin/appointments/create/step2}"
              th:object="${appointment}"
        >
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" th:field="*{intervalId}">
            <h3>Выберите клиента</h3>
            <span th:text="${errors?.containsKey('userId')} ? ${errors.get('userId')}"></span>
            <div style="height: 200px; overflow: auto">
                <div th:each="user : ${users}">
                    <label>
                        <input type="radio"
                               th:field="*{userId}"
                               th:value="${user.getId()}"
                        >
                        <span th:text="${user.getId()}"></span>
                        <span th:text="${user.getFirstName()}"></span>
                        <span th:text="${user.getLastName()}"></span>
                        <span th:text="${user.getPhone()}"></span>
                        <span th:text="${user.getEmail()}"></span>
                    </label>
                </div>
            </div>
            <input type="submit" value="Далее">
        </form>
    </main>
</body>
</html>