<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - запись клиента</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="wrap">
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/intervals}"><- Вернуться к рабочему календарю</a>
    </nav>
    <main class="main container-xxl pb-lg-5 pb-4">
        <h2>Запись клиента</h2>
        <h3 th:text="${interval.getDate()} + ' - ' + ${interval.getTime()}"></h3>
        <form method="post"
              th:action="@{/admin/appointments/create/step3}"
              th:object="${appointment}"
        >
            <input type="hidden" th:field="*{intervalId}">
            <input type="hidden" th:field="*{userId}">
            <h3>Выберите услуги</h3>
            <span th:if="${errors?.containsKey('services')}" th:text="${errors.get('services')}"></span>
            <div style="height: 200px; overflow: auto">
                <div th:each="service : ${services}">
                    <label>
                        <input type="checkbox"
                               th:field="*{services}"
                               th:value="${service.getId()}"
                        >
                        <span th:text="${service.getTitle()}"></span>
                    </label>
                </div>
            </div>
            <input type="submit" value="Далее">
        </form>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>