<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - все услуги</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/dashboard}"><- Назад</a>
    </nav>
    <main>
        <h1>Услуги</h1>
        <h2 th:text="${message}"></h2>
        <span th:if="${errors?.containsKey('title')}" th:text="${errors.get('title')}"></span>
        <form method="post" th:action="@{/admin/services/create}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label>Наименование услуги
                <input type="text" name="title" th:value="${enteredData?.getTitle()}">
            </label>
            <input type="submit" value="Создать">
        </form>
        <ul>
            <li th:each="service : ${services}">
                <form method="post" th:action="@{/admin/services/delete}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="serviceId" th:value="${service.getId()}">
                    <span th:text="${service.title}"></span>
                    <input type="submit" value="Удалить">
                </form>
            </li>
        </ul>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>