<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список интервалов</title>
</head>
<body>
    <h1>Список интервалов</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>date</th>
                <th>time</th>
                <th>is booked?</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="workInterval : ${workIntervals}">
                <td data-th-text="${workInterval.id}"></td>
                <td data-th-text="${workInterval.date}"></td>
                <td data-th-text="${workInterval.startTime}"></td>
                <td data-th-text="${workInterval.isBooked}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>