<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - панель администратора</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_admin}"></div>

    <nav>
        <ul>
            <li><a th:href="@{/admin/users}">Показать всех пользователей</a></li>
            <li><a th:href="@{/admin/intervals}">Показать все рабочие интервалы</a></li>
            <li><a th:href="@{/admin/appointments}">Показать все записи</a></li>
            <li><a th:href="@{/admin/services}">Показать все услуги</a></li>
            <li><a th:href="@{/admin/portfolio}">Показать портфолио</a></li>
        </ul>
    </nav>
    <main>

    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>