<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem.nails - Панель управления</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body id="dashboard">
<div id="wrap">
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <main class="main container-xxl mx-auto pb-4">
        <h1 class="title">Панель управления</h1>
        <div class="cards row">
            <div class="col-sm-3 mb-3 mb-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Клиенты</h5>
                        <p class="card-text">Просмотр всех клиентов</p>
                        <a th:href="@{/admin/users}" class="btn btn-dark">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Календарь</h5>
                        <p class="card-text">Редактирование рабочих интервалов и записей клиентов</p>
                        <a th:href="@{/admin/intervals}" class="btn btn-dark">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Записи</h5>
                        <p class="card-text">Просмотр записей клиентов</p>
                        <a th:href="@{/admin/appointments}" class="btn btn-dark">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Услуги</h5>
                        <p class="card-text">Редактирование доступных для записи услуг</p>
                        <a th:href="@{/admin/services}" class="btn btn-dark">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Портфолио</h5>
                        <p class="card-text">Редактирование портфолио</p>
                        <a th:href="@{/admin/portfolio}" class="btn btn-dark">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</div>
</body>
</html>