<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zhem-nails - авторизация</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header :: (${authUser} ? '#header_client' : '#header_guest')}"></div>
    <main>
        <h1>Авторизация</h1>
        <div th:if="${param.error}">
            Неверный номер телефона или пароль
        </div>
        <form th:action="@{/user/login}" method="post">
            <div>
                <label>Номер телефона
                    <input type="text" name="username" placeholder="+7 (999) 999-99-99"/>
                </label>
            </div>
            <div>
                <label>Пароль
                    <input type="password" name="password" placeholder="Пароль"/>
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="remember-me" />
                    Запомнить вход
                </label>
            </div>
            <input type="submit" value="Войти" />
        </form>
    </main>
    <div th:replace="~{fragments/footer :: #footer_user}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>