<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem.nails - Регистрация</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body id="registration">
<div id="wrap">
    <div th:replace="~{fragments/header :: (${authUser} ? '#header_client' : '#header_guest')}"></div>
    <main class="main container-xxl mx-auto pb-lg-5 pb-4">
        <nav class="breadcrumbs" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Регистрация</li>
            </ol>
        </nav>
        <div class="col-lg-6 col-sm-12 mx-auto border shadow-sm rounded py-5 px-4">
            <h1 class="title">Регистрация</h1>
            <form class="form" th:action="@{/user/registration}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="phone" name="phone"
                           placeholder="+7(999)999-99-99" th:value="${enteredData?.getPhone()}">
                    <label for="phone">Номер телефона</label>
                    <span class="invalid-feedback" th:text="${errors?.get('phone')}"></span>
                </div>
                <div class="form-floating has-validation mb-3">
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="email@email.com" th:value="${enteredData?.getEmail()}">
                    <label for="email">Электронная почта</label>
                    <span class="invalid-feedback" th:text="${errors?.get('email')}"></span>
                </div>
                <div class="form-floating has-validation mb-3">
                    <input type="text" class="form-control" id="firstName" name="firstName"
                           placeholder="Иван" th:value="${enteredData?.getFirstName()}">
                    <label for="firstName">Имя</label>
                    <span class="invalid-feedback" th:text="${errors?.get('firstName')}"></span>
                </div>
                <div class="form-floating has-validation mb-3">
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           placeholder="Иванов" th:value="${enteredData?.getLastName()}">
                    <label for="lastName">Фамилия</label>
                    <span class="invalid-feedback" th:text="${errors?.get('lastName')}"></span>
                </div>
                <div class="form-floating has-validation mb-3">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Пароль">
                    <label for="password">Пароль</label>
                    <span class="invalid-feedback" th:text="${errors?.get('password')}"></span>
                </div>
                <div class="form-floating has-validation mb-3">
                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Пароль">
                    <label for="confirmPassword">Подтвердите пароль</label>
                    <span class="invalid-feedback" th:text="${errors?.get('passwordMatchers')}"></span>
                </div>
                <input class="btn btn-outline-dark d-block px-5 mx-auto" type="submit" value="Зарегистрироваться"/>
            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_user}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>