<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - запись клиента</title>
</head>
<body>
    <nav>
        <a data-th-href="@{/admin/intervals}"><- Назад</a>
    </nav>
    <main>
        <h2>Запись клиента</h2>
        <h3 data-th-text="${interval.getDate()} + ' - ' + ${interval.getTime()}"></h3>
        <form method="post">
            <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"/>
            <input type="hidden" name="intervalId" data-th-value="${interval.getId()}">
            <h3>Выберите клиента</h3>
            <span data-th-text="${errors?.containsKey('userId')} ? ${errors.get('userId')}"></span>
            <div data-th-each="user : ${users.content}">
                <label>
                    <input type="radio" name="userId" data-th-value="${user.getId()}">
                    <span data-th-text="${user.getId()}"></span>
                    <span data-th-text="${user.getFirstName()}"></span>
                    <span data-th-text="${user.getLastName()}"></span>
                    <span data-th-text="${user.getPhone()}"></span>
                    <span data-th-text="${user.getEmail()}"></span>
                </label>
            </div>
            <div class="pagination">
                <ul>
                    <li data-th-if="${users.hasPrevious()}">
                        <a data-th-href="@{'/admin/appointments/create?intervalId=' + ${interval.id} + '&page=' + ${users.number - 1}}">Previous</a>
                    </li>
                    <li data-th-each="page : ${#numbers.sequence(0, users.totalPages - 1)}">
                        <a data-th-href="@{'/admin/appointments/create?intervalId=' + ${interval.id} + '&page=' + ${page}}" data-th-text="${page + 1}"></a>
                    </li>
                    <li data-th-if="${users.hasNext()}">
                        <a data-th-href="@{'/admin/appointments/create?intervalId=' + ${interval.id} + '&page=' + ${users.number + 1}}">Next</a>
                    </li>
                </ul>
            </div>
            <label data-th-for="details">Комментарий
                <textarea name="details" id="details"></textarea>
            </label>
            <span data-th-text="${errors?.containsKey('details')} ? ${errors.get('details')}"></span>
            <input type="submit" value="Записать">
        </form>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const textarea = document.getElementById('details');
            textarea.value = null;
        });
    </script>
</body>
</html>