<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - интервалы для записи</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header :: (${authUser} ? '#header_client' : '#header_guest')}"></div>
    <main>
        <h1>Свободные интервалы для записи</h1>
        <h3 th:text="${message}"></h3>
        <span th:if="${errors?.containsKey('interval')}" th:text="${errors.get('interval')}"></span>
        <div>
            <a th:href="@{/intervals?year=__${prevYearMonth.getYear()}__&month=__${prevYearMonth.getMonthValue()}__}">
                Предыдущий
            </a>
            <a th:href="@{/intervals?year=__${nextYearMonth.getYear()}__&month=__${nextYearMonth.getMonthValue()}__}">
                Следующий
            </a>
        </div>
        <div th:each="entry : ${mapOfIntervals}">
            <h3 th:text="${entry.getKey()} + ':'"></h3>
            <div th:if="${entry.getValue().isEmpty()}">
                <p>Нет интервалов</p>
            </div>
            <table th:if="${!entry.getValue().isEmpty()}">
                <tr th:each="interval : ${entry.getValue()}">
                    <td>
                        <span th:text="${interval.getTime()}"></span>
                    </td>
                    <td>
                        <a th:href="@{/user/appointments/create?intervalId=__${interval.getId()}__}">
                            Записаться
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_user}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>