<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nail - все записи</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_client}"></div>
    <main>
        <h1>История записей</h1>
        <h3 th:text="${message}"></h3>
        <div th:each="appointment : ${appointments.content}">
            <h3 th:text="${appointment.getInterval().getDate} + ' - ' + ${appointment.getInterval().getTime()}"></h3>
            <ul>
                <li th:each="service : ${appointment.services}" th:text="${service.getTitle()}"></li>
            </ul>
            <p th:text="${appointment.getDetails() ?: 'Комментария нет'}"></p>
            <p th:text="'Создано: ' + ${appointment.getCreatedAt().toLocalDate()}"></p>
            <form
                    th:if="${appointment.getInterval().getDate() >= dateNow}"
                    method="post"
                    th:action="@{/user/appointments/delete}">
                <input type="hidden" name="appointmentId" th:value="${appointment.getId()}">
                <input type="submit" value="Отменить запись">
            </form>
        </div>
        <div class="pagination">
            <ul th:if="${appointments.totalPages > 1}">
                <li th:if="${appointments.number > 0}">
                    <a th:href="@{'/user/appointments?page=' + ${appointments.number - 1}}">Назад</a>
                </li>
                <li th:if="${appointments.totalPages > 3}">
                    <a th:href="@{/user/appointments?page=0}">1</a>
                </li>
                <li th:if="${appointments.totalPages > 4}">
                    <span>...</span>
                </li>
                <li th:each="page : ${#numbers.sequence(appointments.number - 1 > 0 ? appointments.number - 1 : 0, appointments.number + 1 < appointments.totalPages ? appointments.number + 1 : appointments.totalPages - 1)}">
                    <a th:href="@{'/user/appointments?page=' + ${page}}" th:text="${page + 1}"></a>
                </li>
                <li th:if="${appointments.totalPages > 4 && appointments.number < appointments.totalPages - 2}">
                    <span>...</span>
                </li>
                <li th:if="${appointments.totalPages > 3}">
                    <a th:href="@{'/user/appointments?page=' + ${appointments.totalPages - 1}}" th:text="${appointments.totalPages}"></a>
                </li>
                <li th:if="${appointments.number < appointments.totalPages - 1}">
                    <a th:href="@{'/user/appointments?page=' + ${appointments.number + 1}}">Вперед</a>
                </li>
            </ul>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_user}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>