<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem.nails - Изменить запись</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body id="update-appointment-2">
<div id="wrap">
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <main class="main container-xxl mx-auto pb-lg-5 pb-4">
        <nav class="breadcrumbs" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Панель управления</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin/intervals}">Рабочий календарь</a></li>
                <li class="breadcrumb-item active" aria-current="page">Изменение записи</li>
            </ol>
        </nav>
        <div class="rounded border p-lg-5 p-3 pb-4">
            <h2 class="title" th:text="'Изменение записи №' + ${appointmentId}"></h2>
            <h4 class="mb-3 text-center">Изменение интервала</h4>
            <div>
                <nav class="d-flex justify-content-between align-items-center mb-4">
                    <form method="post"
                          th:object="${appointment}"
                          th:action="@{/admin/appointments/update/__${appointmentId}__/step2?year=__${prevYearMonth.getYear()}__&month=__${prevYearMonth.getMonthValue()}__}">
                        <input type="hidden" th:field="*{userId}">
                        <input type="hidden" th:field="*{services}">
                        <input type="hidden" th:field="*{details}">
                        <input type="hidden" th:field="*{intervalId}">
                        <button class="btn me-3" type="submit">
                            <img width="50px" src="/images/prev.svg" alt="arrow previous"/>
                        </button>
                    </form>
                    <div class="d-flex">
                        <h3>
                            <span th:text="${monthTitle}"></span>
                            <span th:text="${yearMonth.getYear()}"></span>
                        </h3>
                    </div>
                    <form method="post"
                          th:object="${appointment}"
                          th:action="@{/admin/appointments/update/__${appointmentId}__/step2?year=__${nextYearMonth.getYear()}__&month=__${nextYearMonth.getMonthValue()}__}">
                        <input type="hidden" th:field="*{userId}">
                        <input type="hidden" th:field="*{services}">
                        <input type="hidden" th:field="*{details}">
                        <input type="hidden" th:field="*{intervalId}">
                        <button class="btn me-3" type="submit">
                            <img width="50px" src="/images/next.svg" alt="arrow next"/>
                        </button>
                    </form>
                </nav>
                <div class="daysOfWeek d-none d-md-block">
                    <ul class="list-unstyled d-flex justify-content-between">
                        <li>Понедельник</li>
                        <li>Вторник</li>
                        <li>Среда</li>
                        <li>Четверг</li>
                        <li>Пятница</li>
                        <li>Суббота</li>
                        <li>Воскресенье</li>
                    </ul>
                </div>
                <form
                        class="d-flex flex-column"
                        method="post"
                        th:action="@{/admin/appointments/update/__${appointmentId}__/step3}"
                        th:object="${appointment}"
                >
                    <input type="hidden" th:field="*{userId}">
                    <input type="hidden" th:field="*{services}">
                    <input type="hidden" th:field="*{details}">
                    <div class="cards flex-column align-items-center flex-md-row align-items-md-stretch mb-4">
                        <div th:if="${mapOfIntervalsIsEmpty}" class="d-md-none">
                            <p>Нет свободных слотов для записи</p>
                        </div>
                        <div th:class="(${entry.getKey().getMonthValue()} != ${yearMonth.getMonthValue()} ?
                            'd-none d-md-flex card invisible' : 'card d-md-flex shadow-sm')
                            + (${entry.getValue().isEmpty()} ? ' d-none' : '')"
                             th:each="entry : ${mapOfIntervals}">
                            <h3 class="text-center card-header py-3" th:text="${entry.getKey().getDayOfMonth()}"></h3>
                            <div th:if="${!entry.getValue().isEmpty()}">
                                <div class="interval" th:each="interval : ${entry.getValue()}">
                                    <input type="radio"
                                           th:field="*{intervalId}"
                                           th:value="${interval.getId()}"
                                           class="btn-check"
                                           autocomplete="off"
                                    >
                                    <label class="radio-btn btn btn-outline-dark d-block rounded-0" th:for="${#ids.prev('intervalId')}">
                                        <span th:text="${interval.getTime()}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-outline-dark px-5 align-self-end" type="submit" value="Далее">
                </form>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>
