<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - изменить запись</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/appointments/interval/__${appointment.getIntervalId()}__}"><- Назад</a>
    </nav>
    <main>
        <div>
            <h1 th:text="'Изменение записи №' + ${appointmentId}"></h1>
            <h2>Шаг 1 - Изменение клиента</h2>
            <form method="get">
                <label>Имя
                    <input type="text" name="firstName" placeholder="Иван"/>
                </label>
                <label>Фамилия
                    <input type="text" name="lastName" placeholder="Иванов"/>
                </label>
                <label>Номер телефона
                    <input type="text" name="phone" placeholder="+7 (999) 999-99-99"/>
                </label>
                <label>Электронная почта
                    <input type="email" name="email" placeholder="ivanov@email.com"/>
                </label>
                <input type="submit" value="Поиск">
                <a th:href="@{/admin/appointments/update/__${appointmentId}__/step1}">Отмена</a>
            </form>
            <form method="post"
                  th:action="@{/admin/appointments/update/__${appointmentId}__/step2}"
                  th:object="${appointment}"
            >
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:field="*{intervalId}">
                <input type="hidden" th:field="*{services}">
                <input type="hidden" th:field="*{details}">
                <div style="height: 200px; overflow: auto">
                    <div th:each="user : ${users}">
                        <label>
                            <input type="radio"
                                   th:field="*{userId}"
                                   th:value="${user.getId()}"
                                   th:checked="${appointment.userId.equals(user.getId())}"
                            >
                            <span th:text="${user.getId()}"></span>
                            <span th:text="${user.getFirstName()}"></span>
                            <span th:text="${user.getLastName()}"></span>
                            <span th:text="${user.getPhone()}"></span>
                            <span th:text="${user.getEmail()}"></span>
                        </label>
                    </div>
                </div>
                <input type="submit" value="Далее">
            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>