<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - изменить запись</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/intervals}"><- Вернуться к рабочему календарю</a>
    </nav>
    <main>
        <div>
            <h1 th:text="'Изменение записи №' + ${appointmentId}"></h1>
            <h2>Шаг 4 - Изменение комментария</h2>
            <form method="post"
                  th:action="@{/admin/appointments/update/__${appointmentId}__/step5}"
                  th:object="${appointment}"
            >
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:field="*{userId}">
                <input type="hidden" th:field="*{intervalId}">
                <input type="hidden" th:field="*{services}">
                <label>
                    <textarea th:field="*{details}"></textarea>
                    <span th:text="${errors?.containsKey('details')} ? ${errors.get('details')}"></span>
                </label>
                <input type="submit" value="Сохранить">
            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>