<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - изменить запись</title>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/intervals}"><- Вернуться к рабочему календарю</a>
    </nav>
    <main>
        <div>
            <h1 th:text="'Изменение записи №' + ${appointmentId}"></h1>
            <h2>Шаг 2 - Изменение интервала</h2>
            <form method="post"
                  th:action="@{/admin/appointments/update/__${appointmentId}__/step2}"
                  th:object="${appointment}"
            >
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:field="*{userId}">
                <input type="hidden" th:field="*{intervalId}">
                <input type="hidden" th:field="*{services}">
                <input type="hidden" th:field="*{details}">
                <label for="yearSelect">Введите год:
                    <input id="yearSelect" type="text" name="year">
                </label>
                <label for="monthSelect">Выберите месяц:</label>
                <select id="monthSelect" name="month">
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>
                <input type="submit" value="Выбрать"/>
            </form>
            <form method="post"
                  th:action="@{/admin/appointments/update/__${appointmentId}__/step3}"
                  th:object="${appointment}"
            >
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:field="*{userId}">
                <input type="hidden" th:field="*{services}">
                <input type="hidden" th:field="*{details}">
                <label>
                    <input type="radio"
                           th:field="*{intervalId}"
                           th:value="*{intervalId}"
                           checked
                    >
                    <span th:text="${interval.getDate()}"></span>
                    <span th:text="${interval.getTime()}"></span>
                </label>
                <div id="intervalsDiv">
                    <div th:each="entry : ${mapOfIntervals}">
                        <h3 th:text="${entry.getKey()} + ':'"></h3>
                        <div th:if="${entry.getValue().isEmpty()}">
                            <p>Нет интервалов</p>
                        </div>
                        <div th:if="${!entry.getValue().isEmpty()}">
                            <div th:each="interval : ${entry.getValue()}">
                                <label>
                                    <input type="radio"
                                           th:field="*{intervalId}"
                                           th:value="${interval.getId()}"
                                    >
                                    <span th:text="${interval.getTime()}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Далее">
            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
</body>
</html>
