<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - изменить запись</title>
</head>
<body>
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/intervals}"><- Вернуться к рабочему календарю</a>
    </nav>
    <main>
        <div>
            <h1 th:text="'Изменение записи №' + ${appointmentId}"></h1>
            <h2>Шаг 3 - Изменение услуг</h2>
            <form method="post"
                  th:action="@{/admin/appointments/update/__${appointmentId}__/step4}"
                  th:object="${appointment}"
            >
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:field="*{intervalId}">
                <input type="hidden" th:field="*{userId}">
                <input type="hidden" th:field="*{details}">
                <div style="height: 200px; overflow: auto">
                    <span th:if="${errors?.containsKey('services')}" th:text="${errors.get('services')}"></span>
                    <div th:each="service : ${allServices}">
                        <label>
                            <input type="checkbox"
                                   th:field="*{services}"
                                   th:value="${service.getId()}"
                                   th:checked="${allServices.contains(service)}"
                            >
                            <span th:text="${service.getTitle()}"></span>
                        </label>
                    </div>
                </div>
                <input type="submit" value="Далее">
            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
</body>
</html>