<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - О мастере</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body id="about">
<div id="wrap">
    <div th:replace="~{fragments/header :: (${authUser} ? '#header_client' : '#header_guest')}"></div>
    <main class="main container-xxl pb-lg-5 pb-4">
        <h2 class="title">О мастере</h2>
        <p>
            Приветствую вас на странице о мастере маникюра и педикюра! Меня зовут Анастасия, и я рада
            приветствовать вас на своей странице. Спасибо, что вы заинтересовались моими услугами!
        </p>
        <h5>История:</h5>
        <p>Я начала свой профессиональный путь, обучаясь в одной из лучших школ маникюра и педикюра в городе.
            Здесь я получила фундаментальные знания о анатомии ногтей и кожи, техниках и методах ухода, а также
            освоила техники нанесения лака и гель-лака, создания дизайнов и украшений. Под руководством опытных
            преподавателей я освоила тонкости профессии и приобрела необходимые навыки для работы с клиентами разного
            типа
            кожи и ногтей.</p>
        <h5>Профессиональное развитие:</h5>
        <p>После завершения обучения, я постоянно стремлюсь к профессиональному росту и совершенствованию. Я активно
            участвую в мастер-классах, семинарах и тренингах от ведущих экспертов индустрии, чтобы быть в курсе
            последних
            тенденций и инноваций в области маникюра и педикюра. Это позволяет мне предлагать своим клиентам только
            самые
            современные и эффективные процедуры и техники.</p>
        <h5>Мой подход:</h5>
        <p>Я горжусь тем, что являюсь мастером, который индивидуально подходит к каждому клиенту. Моя цель не просто
            сделать красивый маникюр или педикюр, но и создать комфортную и расслабляющую атмосферу для каждого
            посетителя
            моего салона. Я стремлюсь не только удовлетворить, но и превзойти ожидания каждого клиента, делая процесс
            ухода
            за ногтями приятным и эффективным.</p>
        <h5>Мои принципы:</h5>
        <p>В моей работе я придерживаюсь высоких стандартов качества и безопасности. Я использую только профессиональные
            инструменты и материалы, чтобы обеспечить безупречный результат и безопасность для ваших ногтей и кожи.
            Моя забота о вашем благополучии и удовлетворении является моим главным приоритетом.</p>
        <p>Не стесняйтесь связаться со мной для записи или получения дополнительной информации. Я с нетерпением жду
            встречи с вами!</p>
    </main>
    <div th:replace="~{fragments/footer :: #footer_user}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>