<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem.nails - все клиенты</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="wrap">
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/dashboard}"><- Назад</a>
    </nav>
    <main class="main container-xxl mx-auto pb-lg-5 pb-4">
        <table>
            <tr>
                <th>ID</th>
                <th>Phone</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
            <tr th:each="user : ${users.content}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFormattedPhone()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getCreatedAt().toLocalDate()}"></td>
                <td th:text="${user.getUpdatedAt().toLocalDate()}"></td>
            </tr>
        </table>
        <div class="pagination">
            <ul th:if="${users.totalPages > 1}">
                <li th:if="${users.number > 0}">
                    <a th:href="@{'/admin/users?page=' + ${users.number - 1}}">Назад</a>
                </li>
                <li th:if="${users.totalPages > 3}">
                    <a th:href="@{/admin/users?page=0}">1</a>
                </li>
                <li th:if="${users.totalPages > 4}">
                    <span>...</span>
                </li>
                <li th:each="page : ${#numbers.sequence(users.number - 1 > 0 ? users.number - 1 : 0, users.number + 1 < users.totalPages ? users.number + 1 : users.totalPages - 1)}">
                    <a th:href="@{'/admin/users?page=' + ${page}}" th:text="${page + 1}"></a>
                </li>
                <li th:if="${users.totalPages > 4 && users.number < users.totalPages - 2}">
                    <span>...</span>
                </li>
                <li th:if="${users.totalPages > 3}">
                    <a th:href="@{'/admin/users?page=' + ${users.totalPages - 1}}" th:text="${users.totalPages}"></a>
                </li>
                <li th:if="${users.number < users.totalPages - 1}">
                    <a th:href="@{'/admin/users?page=' + ${users.number + 1}}">Вперед</a>
                </li>
            </ul>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>