<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem.nails - Клиенты</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="wrap">
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <main class="main container-xxl mx-auto pb-4">
        <nav class="breadcrumbs" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Панель управления</a></li>
                <li class="breadcrumb-item active" aria-current="page">Клиенты</li>
            </ol>
        </nav>
        <h2 class="title">Клиенты</h2>
        <div class="table-responsive">
            <table class="table table-hover table-bordered mb-4 text-center">
                <caption>
                    <span>Всего:</span>
                    <span th:text="${users.getTotalElements()}"></span>
                    <span>клиентов</span>
                </caption>
                <tr>
                    <th>ФИО</th>
                    <th>Номер телефона</th>
                    <th>Электронная почта</th>
                    <th>Зарегистрирован</th>
                </tr>
                <tr th:each="user : ${users.content}">
                    <td>
                        <span th:text="${user.getLastName()}"></span>
                        <span th:text="${user.getFirstName()}"></span>
                    </td>
                    <td>
                        <a th:href="'tel:' + ${user.getFormattedPhone()}" th:text="${user.getFormattedPhone()}"></a>
                    </td>
                    <td>
                        <a th:if="${user.getEmail()} != null" th:href="'mailto:' + ${user.getEmail()}"
                           th:text="${user.getEmail()}"></a>
                        <span th:if="${user.getEmail()} == null">Не указана</span>
                    </td>
                    <td th:text="${user.getFormattedCreatedAt()}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${users.numberOfElements} > 0">
            <ul class="pagination justify-content-center" th:if="${users.totalPages > 1}">
                <li class="page-item" th:if="${users.number > 0}">
                    <a class="page-link" th:href="@{/admin/users?page=0}">&laquo;</a>
                </li>
                <li class="page-item" th:if="${users.number > 0}">
                    <a class="page-link" th:href="@{'/admin/users?page=' + ${users.number - 1}}">
                        <span aria-hidden="true">&#8249;</span>
                    </a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(users.number - 1 > 0 ? users.number - 1 : 0,
                 users.number + 1 < users.totalPages ? users.number + 1 : users.totalPages - 1)}">
                    <a
                            th:class="'page-link' + (${users.number == page} ? ' disabled' : '')"
                            th:href="@{'/admin/users?page=' + ${page}}"
                            th:text="${page + 1}"></a>
                </li>
                <li class="page-item" th:if="${users.number < users.totalPages - 1}">
                    <a class="page-link" th:href="@{'/admin/users?page=' + ${users.number + 1}}">
                        <span aria-hidden="true">&#8250;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${users.number < users.totalPages - 1}">
                    <a class="page-link" th:href="@{'/admin/users?page=' + ${users.totalPages - 1}}">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</div>
</body>
</html>