<footer id="footer_admin">
    <div th:if="${adminUser}">
        <h3>Контакты:</h3>
        <ul>
            <li>Номер телефона: <a th:href="'tel:' + ${adminUser.getPhone()}" th:text="${adminUser.getPhone()}"></a></li>
            <li th:if="${adminUser.getEmail()}">
                Электронная почта: <a th:href="'mailto:' + ${adminUser.getEmail()}" th:text="${adminUser.getEmail()}"></a>
            </li>
        </ul>
    </div>
    <p>&#169 Copyright</p>
</footer>

<footer id="footer_user">
    <div th:if="${adminUser}">
        <h3>Контакты:</h3>
        <ul>
            <li>Номер телефона: <a th:href="'tel:' + ${adminUser.getPhone()}" th:text="${adminUser.getPhone()}"></a></li>
            <li th:if="${adminUser.getEmail()}">
                Электронная почта: <a th:href="'mailto:' + ${adminUser.getEmail()}" th:text="${adminUser.getEmail()}"></a>
            </li>
        </ul>
    </div>
    <p>&#169 Copyright</p>
</footer>