<footer class="footer py-4 bg-body-tertiary" id="footer_admin">
    <div class="container-xxl">
        <div th:if="${adminUser}">
            <h3>Контакты:</h3>
            <ul class="footer__list ps-0">
                <li>Номер телефона:
                    <a th:href="'tel:' + ${adminUser.getFormattedPhone()}" th:text="${adminUser.getFormattedPhone()}"></a>
                </li>
                <li th:if="${adminUser.getEmail()}">
                    Электронная почта: <a th:href="'mailto:' + ${adminUser.getEmail()}"
                                          th:text="${adminUser.getEmail()}"></a>
                </li>
            </ul>
            <hr>
        </div>
        <p class="text-center mb-0">&#169 Copyright</p>
    </div>
</footer>

<footer class="footer py-4 bg-body-tertiary" id="footer_user">
    <div class="container-xxl">
        <div th:if="${adminUser}">
            <h3>Контакты:</h3>
            <ul class="footer__list ps-0">
                <li>Номер телефона:
                    <a th:href="'tel:' + ${adminUser.getFormattedPhone()}" th:text="${adminUser.getFormattedPhone()}"></a>
                </li>
                <li th:if="${adminUser.getEmail()}">
                    Электронная почта: <a th:href="'mailto:' + ${adminUser.getEmail()}"
                                          th:text="${adminUser.getEmail()}"></a>
                </li>
            </ul>
            <hr>
        </div>
        <p class="text-center mb-0">&#169 Copyright</p>
    </div>
</footer>