<header id="header_admin">
    <ul>
        <li>
            <a th:href="@{/profile}"><span th:text="'Профиль ' + ${authUser.getFirstName()}"></span></a>
        </li>
        <li>
            <a th:href="@{/admin/logout}">Выйти</a>
        </li>
    </ul>
</header>

<header id="header_client">
    <ul>
        <li>
            <a th:href="@{/user/appointments}">История записей</a>
        </li>
        <li>
            <a th:href="@{/profile}"><span th:text="'Профиль ' + ${authUser.getFirstName()}"></span></a>
        </li>
        <li>
            <a th:href="@{/user/logout}">Выйти</a>
        </li>
    </ul>
</header>

<header id="header_guest">
    <ul>
        <li><a th:href="@{/user/login}">Войти</a></li>
        <li><a th:href="@{/user/registration}">Зарегистрироваться</a></li>
    </ul>
</header>