<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - все рабочие интервалы</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="wrap">
    <div th:replace="~{fragments/header :: #header_admin}"></div>
    <nav>
        <a th:href="@{/admin/dashboard}"><- Назад</a>
    </nav>
    <main>
        <h1>Рабочий календарь</h1>
        <h2 th:text="${message}"></h2>
        <span th:if="${errors?.containsKey('time')}" th:text="${errors.get('time')}"></span>
        <span th:if="${errors?.containsKey('interval')}" th:text="${errors.get('interval')}"></span>
        <div>
            <a th:href="@{/admin/intervals?year=__${prevYearMonth.getYear()}__&month=__${prevYearMonth.getMonthValue()}__}">
                Предыдущий
            </a>
            <a th:href="@{/admin/intervals?year=__${nextYearMonth.getYear()}__&month=__${nextYearMonth.getMonthValue()}__}">
                Следующий
            </a>
        </div>
        <div th:each="entry : ${mapOfIntervals}">
            <h3 th:text="${entry.getKey()} + ':'"></h3>
            <div th:if="${entry.getValue().isEmpty()}">
                <p>Нет интервалов</p>
            </div>
            <table th:if="${!entry.getValue().isEmpty()}">
                <tr th:each="interval : ${entry.getValue()}">
                    <td>
                        <span class="current-time" th:text="${interval.getTime()}"></span>
                        <div class="update-time">
                            <form method="post"
                                  th:action="@{/admin/intervals/update?year=__${yearMonth.getYear()}__&month=__${yearMonth.getMonthValue()}__}">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="hidden" name="intervalId" th:value="${interval.getId()}">
                                <label>
                                    <input type="time" name="time" th:value="${interval.getTime()}">
                                </label>
                                <input type="submit" value="✓">
                                <button type="button" class="close-update-time-btn">Отмена</button>
                            </form>
                        </div>
                        <button type="button" class="open-update-time-btn">Изменить время</button>
                    </td>
                    <td>
                        <form method="post"
                              th:action="@{/admin/intervals/delete?year=__${yearMonth.getYear()}__&month=__${yearMonth.getMonthValue()}__}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" name="intervalId" th:value="${interval.getId()}">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                    <td th:if="${interval.getStatus() != statusAvailable}">
                        <a th:href="@{/admin/appointments/interval/{intervalId}(intervalId=${interval.getId()})}">Информация
                            о записи</a>
                    </td>
                    <td th:if="${interval.getStatus() == statusAvailable}">
                        <a th:href="@{/admin/appointments/create/step1?intervalId=__${interval.getId()}__}">
                            Записать клиента
                        </a>
                    </td>
                </tr>
            </table>
            <form method="post">
                <button type="button" class="open-time-btn">+ Добавить время</button>
                <button type="button" class="close-time-btn">- Добавить время</button>
                <div class="time-input">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="date" th:value="${entry.getKey()}">
                    <label th:for="time">Время
                        <input type="time" name="time">
                    </label>
                    <input type="submit" value="Добавить">
                </div>
            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: #footer_admin}"></div>
    <script th:src="@{/js/intervals.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>