<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zhem-nails - все рабочие интервалы</title>
</head>
<body>
    <nav>
        <a data-th-href="@{/admin/dashboard}"><- Назад</a>
    </nav>
    <main>
        <h1>Рабочий календарь</h1>
        <h2 data-th-text="${message}"></h2>
        <span data-th-if="${errors?.containsKey('time')}" data-th-text="${errors.get('time')}"></span>
        <span data-th-if="${errors?.containsKey('interval')}" data-th-text="${errors.get('interval')}"></span>
        <span data-th-if="${errors?.containsKey('services')}" data-th-text="${errors.get('services')}"></span>
        <div>
            <a data-th-href="@{/admin/intervals?year=__${prevYearMonth.getYear()}__&month=__${prevYearMonth.getMonthValue()}__}">
                Предыдущий
            </a>
            <a data-th-href="@{/admin/intervals?year=__${nextYearMonth.getYear()}__&month=__${nextYearMonth.getMonthValue()}__}">
                Следующий
            </a>
        </div>
        <div data-th-each="entry : ${mapOfIntervals}">
            <h3 data-th-text="${entry.getKey()} + ':'"></h3>
            <div data-th-if="${entry.getValue().isEmpty()}">
                <p>Нет интервалов</p>
            </div>
            <table data-th-if="${!entry.getValue().isEmpty()}">
                <tr data-th-each="interval : ${entry.getValue()}">
                    <td>
                        <span class="current-time" data-th-text="${interval.getTime()}"></span>
                        <div class="update-time">
                            <form method="post"
                                  data-th-action="@{/admin/intervals/update?year=__${yearMonth.getYear()}__&month=__${yearMonth.getMonthValue()}__}">
                                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"/>
                                <input type="hidden" name="intervalId" data-th-value="${interval.getId()}">
                                <label>
                                    <input type="time" name="time" data-th-value="${interval.getTime()}">
                                </label>
                                <input type="submit" value="✓">
                                <button type="button" class="close-update-time-btn">Отмена</button>
                            </form>
                        </div>
                        <button type="button" class="open-update-time-btn">Изменить время</button>
                    </td>
                    <td>
                        <form method="post" data-th-action="@{/admin/intervals/delete?year=__${yearMonth.getYear()}__&month=__${yearMonth.getMonthValue()}__}">
                            <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"/>
                            <input type="hidden" name="intervalId" data-th-value="${interval.getId()}">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                    <td data-th-if="${interval.getStatus() != statusAvailable}">
                        <a data-th-href="@{/admin/appointments/interval/{intervalId}(intervalId=${interval.getId()})}">Информация о записи</a>
                    </td>
                    <td data-th-if="${interval.getStatus() == statusAvailable}">
                        <a data-th-href="@{/admin/appointments/create/step1?intervalId=__${interval.getId()}__}">
                            Записать клиента
                        </a>
                    </td>
                </tr>
            </table>
            <form method="post">
                <button type="button" class="open-time-btn">+ Добавить время</button>
                <button type="button" class="close-time-btn">- Добавить время</button>
                <div class="time-input">
                    <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"/>
                    <input type="hidden" name="date" data-th-value="${entry.getKey()}">
                    <label data-th-for="time">Время
                        <input type="time" name="time">
                    </label>
                    <input type="submit" value="Добавить">
                </div>
            </form>
        </div>
    </main>
    <script data-th-src="@{/js/intervals.js}"></script>
</body>
</html>